html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



@font-face {
  font-family: "iconfont"; /* Project id 2621718 */
  src: url('//at.alicdn.com/t/font_2621718_a00rg8rx7cr.woff2?t=1624185456712') format('woff2'),
  url('//at.alicdn.com/t/font_2621718_a00rg8rx7cr.woff?t=1624185456712') format('woff'),
  url('//at.alicdn.com/t/font_2621718_a00rg8rx7cr.ttf?t=1624185456712') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye-slash:before {
  content: "\e7ec";
}

.icon-eye:before {
  content: "\e7ed";
}

.icon-times:before {
  content: "\e82a";
}

.icon-check:before {
  content: "\e82b";
}

.icon-search:before {
  content: "\e82e";
}

.icon-reply:before {
  content: "\e82f";
}

.icon-undo:before {
  content: "\e830";
}

.icon-redo:before {
  content: "\e831";
}

.icon-arrows-alt:before {
  content: "\e833";
}

.icon-angle-right:before {
  content: "\e84e";
}

.icon-angle-left:before {
  content: "\e84f";
}

.icon-share:before {
  content: "\e86e";
}

.icon-monitoring:before {
  content: "\e88e";
}

.icon-loading:before {
  content: "\e891";
}

.icon-anquanyinsi:before {
  content: "\e98b";
}

.icon-dicengjiagou:before {
  content: "\e98c";
}

.icon-kuaisugaoxiao:before {
  content: "\e991";
}

.icon-guanli:before {
  content: "\e993";
}

.icon-quanqiukuajing:before {
  content: "\e995";
}

.icon-shangyun:before {
  content: "\e996";
}

.icon-user:before {
  content: "\e99e";
}

.icon-mail:before {
  content: "\e99f";
}